<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FFE CronJob Schedule</title>
    <!-- <link rel="stylesheet" href="/META-INF/resources/patternfly.css"> -->
</head>
<body>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()"><h3>Menu</h3></span>
<div class="container" id="main">
    <h2>Current List of Selenium CronJobs</h2>
    <div>
    {# for cronJob in cronJobs}
            <p>{cronJob.name} : {cronJob.schedule} </p>
    {/for}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/index.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
<link rel="stylesheet" href="index.css">

</body>
</html>