<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cronjob Creator Landing Page</title>
</head>
<body>
    {% include 'nav.html' %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Selenium Cronjob Results Dashboard</h5>
                        <p class="card-text">View the results of the latest Selneium Jobs kicked off by a Cronjob</p>
                        <a href="/page1" class="btn btn-primary">Go to Page 1</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Selenium Reports Dashboard</h5>
                        <p class="card-text">View all Reports, Logs, and Zip file of saved Selenium Runs. </p>
                        <a href="/page2" class="btn btn-primary">Go to Page 2</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Current Cronjob Schedule Dashboard</h5>
                        <p class="card-text">View all current Selenium CronJob schedules active on OpenShift</p>
                        <a href="/page3" class="btn btn-primary">Go to Page 3</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Create Selenuium Cronjob</h5>
                        <p class="card-text">Create all the required files to add a Cronjob to kick off a Selenium Test</p>
                        <a href="/page4" class="btn btn-primary">Go to Page 4</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Update Selenium Cronjob</h5>
                        <p class="card-text">Update the Cronjob Scheduling of a Selenium Cronjob</p>
                        <a href="/page5" class="btn btn-primary">Go to Page 5</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mass Update Selenium Cronjobs</h5>
                        <p class="card-text">Quickly update the scheduling of multiple Selenium Cronjobs</p>
                        <a href="/page5" class="btn btn-primary">Go to Page 5</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Kick Off Selenium Pipeline</h5>
                        <p class="card-text">Launch a new Selenium Job to run on Openshift and CMS Selenium Grid. Results will be saved. </p>
                        <a href="/page5" class="btn btn-primary">Go to Page 5</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>