<!-- src/main/resources/templates/upload.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mass CronJob Schedule Update with Excel Upload</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/selenium-logo.png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {#include nav.html} {/include}
    <div class="container mt-5">
        <h1 class="mb-4">Upload a Excel File to Update CronJob Schedules</h1>
         <!-- Upload Form -->
        <form id="uploadForm" class="mb-4">
            <div class="mb-3">
                <label for="fileInput" class="form-label">Select Excel File</label>
                <input type="file" class="form-control" id="fileInput" accept=".xls,.xlsx" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
         <!-- Results Section -->
         <div style="color:#43916B" id="successMessage" hidden="true"> 
            <p>Successfully Update Cronjob Schedules</p>
        </div>
        <div style="color:#CF4B2F" id="errorMessage"></div>

        <div>
            <h2>Download Sample Formatted Excel</h2>
            <p>Click the button below to download the sample Excel file with the correct column headers to update CronJob Schedules.</p>
            <a href="/ffe-cronjob/update-excel-example" class="btn btn-primary">
                <i class="bi bi-download"></i> Download Excel File
            </a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/bootstrap.5.3.3.bundle.min.js"></script>
    <script src="/js/mass-update-excel.js"></script>
    {#include progress-bar.html} {/include}
</body>
</html>